* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.main-container {
    color: white;

    h1 {
        color: rgb(182, 255, 255);
        padding: 20px 0px
    }

    height: 100vh;
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    flex-direction: column;

    .add-data-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;

        gap: 20px;

        input[type='text'] {
            width: 30%;
            padding: 10px 10px;
            border-radius: 10px;
            border: none;

            &:focus {
                outline: none;
            }
        }

        button[type="submit"] {
            width: 30%;
            margin-bottom: 10px;
            padding: 10px 10px;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            background-color: rgb(182, 255, 255);
            transition: ease-in-out 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }




    }

    .task-list {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .task {
            input[type='checkbox'] {
                width: 30px;
                height: 15px;
            }

            display: flex;
            align-items: center;
            gap: 20px;
            width: 22%;
        }
    }
}