* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

@-webkit-keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.main-container {
  color: white;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container h1 {
  color: rgb(182, 255, 255);
  padding: 20px 0px;
}
.main-container .add-data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 20px;
}
.main-container .add-data-form input[type=text] {
  width: 30%;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}
.main-container .add-data-form input[type=text]:focus {
  outline: none;
}
.main-container .add-data-form button[type=submit] {
  width: 30%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(182, 255, 255);
  transition: ease-in-out 0.2s;
}
.main-container .add-data-form button[type=submit]:hover {
  transform: scale(1.1);
}
.main-container .add-data-form button[type=submit]:active {
  transform: translatey(4px);
}
.main-container .task-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.main-container .task-list .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #121111;
  min-width: 50%;
  max-width: 50%;
  transition: ease-in-out 0.4s;
  -webkit-animation: append-animate 0.3s linear;
          animation: append-animate 0.3s linear;
}
.main-container .task-list .task input[type=checkbox] {
  width: 30px;
  height: 15px;
}
.main-container .task-list .task.new-task {
  -webkit-animation: append-animate 0.3s linear;
          animation: append-animate 0.3s linear;
}
.main-container .task-list .task .buttons {
  display: flex;
  gap: 20px;
}
.main-container .task-list .task .buttons .editButton {
  background: rgb(74, 74, 255);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  transition: ease-in-out 0.2s;
}
.main-container .task-list .task .buttons .editButton:hover {
  transform: scale(1.1);
}
.main-container .task-list .task .buttons .editButton:active {
  transform: translatey(4px);
}
.main-container .task-list .task .buttons .deleteButton {
  background: rgb(255, 74, 74);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}
.main-container .task-list .task .buttons .deleteButton:hover {
  transform: scale(1.1);
}
.main-container .task-list .task .buttons .deleteButton:active {
  transform: translatey(4px);
}/*# sourceMappingURL=style.css.map */